<ion-header>
    <fs-header [showBackButton]="1" [title]="title"></fs-header>
</ion-header>
<ion-content>
    <scroll-to-top></scroll-to-top>
    <div class="fs-content">
        <div class="food-detail" *ngIf="food">
            <ion-row>
                <ion-col col-3 class="col-img">
                    <img src="{{food.image}}" alt="image">
                </ion-col>
                <ion-col col-9 class="col-detail">
                    <div class="title">{{food.name}}</div>
                    <div class="number-div">
                        <span>Tổng số:</span>
                        <span class="number">{{totalAmount}} </span>suất
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="order-list processing-list">
            <div class="order" *ngFor="let foodOrder of processingFoodOrders">
                <ion-row>
                    <ion-col col-8 class="col-code">
                        <span>Order: </span>
                        <span class="code">{{foodOrder.orderId}}</span>
                    </ion-col>
                    <ion-col col-4 class="col-number">
                        <ion-icon name="logo-buffer"></ion-icon>
                        <span class="number">
                             {{foodOrder.amountProcessing}} suất
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5 class="col-time">
                        <span class="time">{{getDiffTime(foodOrder.timeCreate)}}</span>
                        <span class="status">Đang chế biến</span>
                    </ion-col>
                    <ion-col col-7 class="col-button">
                        <button class="fs-button fs-button-outline" *ngIf="food.state == foodStateData.AVAILABLE.id" (click)="makeOutOfStock(foodOrder)" tappable>Báo hết</button>
                        <button class="fs-button fs-button-outline" *ngIf="food.state == foodStateData.OUT_OF_STOCK.id" (click)="makeInStock(foodOrder)" tappable>Báo còn</button>
                        <button class="fs-button" (click)="done(foodOrder)" tappable>Báo xong</button>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="order-list waitting-list">
            <div class="order" *ngFor="let foodOrder of wattingFoodOrders">
                <ion-row>
                    <ion-col col-8 class="col-code">
                        <span>Order: </span>
                        <span class="code">{{foodOrder.orderId}}</span>
                    </ion-col>
                    <ion-col col-4 class="col-number">
                        <ion-icon name="logo-buffer"></ion-icon>
                        <span class="number">
                             {{foodOrder.amountOrder - foodOrder.amountDone - foodOrder.amountReturn - foodOrder.amountProcessing}} suất
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5 class="col-time">
                        <span class="time">{{getDiffTime(foodOrder.timeCreate)}}</span>
                        <span class="status">Đợi chế biến</span>
                    </ion-col>
                    <ion-col col-7 class="col-button">
                        <button class="fs-button fs-button-outline" *ngIf="food.state == foodStateData.AVAILABLE.id" (click)="makeOutOfStock(foodOrder)" tappable>Báo hết</button>
                        <button class="fs-button fs-button-outline" *ngIf="food.state == foodStateData.OUT_OF_STOCK.id" (click)="makeInStock(foodOrder)" tappable>Báo còn</button>
                        <button class="fs-button" (click)="processing(foodOrder)" tappable>Chế biến</button>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</ion-content>