page-fs-tables {
    $customToggleHeight: 2em;
    .custom-toggle {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: $customToggleHeight;
        border-radius: 20px;
        padding: 2px;
        background-color: #760d14;
        .icon,
        i,
        {
            margin: auto;
        }
        .custom-toggle-button {
            height: 100%;
            padding: 0 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-display: flex;
            border-radius: 20px;
            background-color: transparent;
            -webkit-transition: all 1s;
            transition: all 1s;
            color: map-get($map: $FSColors, $key: white);
        }
        span.active {
            background-color: map-get($FSColors, primary)
        }
    }
    .custom-toggle-left-button {
        float: left;
    }
    .custom-toggle-right-button {
        float: right;
    }
    .search-bar {
        .searchbar-ios {
            border: none;
        }
        .searchbar-input {
            border: solid 1px lightgray;
        }
    }
    .fs-segment {
        .number {
            font-size: 0.8em;
            padding: 4px;
            border-radius: 20px;
            box-sizing: content-box;
        }
        .segment-button {
            color: map-get($map: $FSColors, $key: black);
            &.segment-activated {
                background-color: map-get($map: $FSColors, $key: white);
                font-weight: bold;
            }
            .status-1 {
                background-color: map-get($map: $FSColors, $key: primary);
                color: map-get($map: $FSColors, $key: white);
            }
            .status-2 {
                background-color: map-get($map: $FSColors, $key: yellow);
                color: map-get($map: $FSColors, $key: black);
            }
            .status-3 {
                background-color: map-get($map: $FSColors, $key: gray);
                color: map-get($map: $FSColors, $key: black);
            }
            .status-0 {
                border: solid 1px;
            }
        }
    }
    .segment-content {
        background-color: map-get($map: $FSColors, $key: white);
        $iconSize: 4em;
        position: relative;
        .content-block {
            width: $iconSize;
            height: $iconSize;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .icon {
                color: map-get($map: $FSColors, $key: primary);
                font-size: 4em;
                z-index: 1;
            }
            .table-number {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: bold;
                text-transform: uppercase;
                color: map-get($map: $FSColors, $key: white);
                z-index: 2;
                font-size: map-get($map: $FSSizes, $key: big);
            }
            .order-number {
                padding: 3px 4px;
                border-radius: 50%;
                background-color: map-get($map: $FSColors, $key: yellow);
                color: map-get($map: $FSColors, $key: black);
                font-size: .8em;
                display: block;
                position: absolute;
                top: -2px;
                right: -2px;
                text-align: center;
                line-height: 1em;
            }
        }
        .owner-zone {
            .item {
                padding: 10px;
                border-bottom: solid 1px map-get($map: $FSColors, $key: lightgray);
                &:last-of-type {
                    border-bottom: 0;
                }
                .col-table {
                    min-width: $iconSize;
                    min-height: $iconSize;
                    padding: 0;
                    flex: 0;
                }
                .col-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    flex: 1;
                    padding-left: 10px;
                    .icon {
                        color: map-get($map: $FSColors, $key: primary);
                        vertical-align: text-bottom;
                    }
                    .identify {
                        color: map-get($map: $FSColors, $key: black);
                        font-size: map-get($map: $FSSizes, $key: big);
                    }
                    .guests {
                        color: map-get($map: $FSColors, $key: gray);
                    }
                }
                .col-action {
                    flex: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    .fs-button {
                        font-size: 1em;
                        padding: 4px 10px;
                        font-weight: bold;
                        white-space: nowrap;
                        padding-right: 10px;
                    }
                }
            }
        }
        .all-zone {
            .item {
                width: 25%;
                height: 25vw;
                float: left;
            }
        }
        .status-1 {
            .table-number {
                color: map-get($map: $FSColors, $key: white);
            }
            .icon {
                color: map-get($map: $FSColors, $key: primary);
            }
        }
        .status-2 {
            .table-number {
                color: map-get($map: $FSColors, $key: orange);
            }
            .icon {
                color: map-get($map: $FSColors, $key: yellow);
            }
        }
        .status-3 {
            .table-number {
                color: map-get($map: $FSColors, $key: black);
            }
            .icon {
                color: map-get($map: $FSColors, $key: gray);
            }
        }
    }
    $floorHeight: 4rem;
    .map-zone {
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 100%;
        .floor-menu {
            height: $floorHeight;
            width: 100%;
            display: flex;
            overflow: auto;
            .floor {
                background-color: map-get($map: $FSColors, $key: background);
                color: map-get($map: $FSColors, $key: black);
                padding: 0 10px;
                height: $floorHeight;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                font-size: .8em;
                flex: 1;
                .icon {
                    margin-right: 5px;
                }
                &.active {
                    font-weight: bold;
                    background-color: map-get($map: $FSColors, $key: white);
                    .icon {
                        color: map-get($map: $FSColors, $key: primary);
                    }
                }
            }
        }
        .map-container {
            position: relative;
            margin-top: 16px;
            margin-left: 16px;
            display: flex;
            overflow: visible;
            .map {
                border: solid 1px green;
            }
        }
    }
    .size-holder {
        position: absolute;
        top: $floorHeight;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
    }
    .map-symbol {
        width: 50px;
        height: 50px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        border: solid 1px gray;
        background-color: map-get($map: $FSColors, $key: lightgray);
        &.selected {
            border-color: map-get($map: $FSColors, $key: blue) !important;
            border-width: 2px;
        }
        &.dragging {
            .rule {
                display: block;
            }
        }
        .rule {
            position: absolute;
            display: none;
            &.top-rule {
                top: -1px;
                left: 0;
                width: 1500px;
                border-bottom: dashed 1px gray;
                transform: translateX(-50%);
            }
            &.bottom-rule {
                bottom: -1px;
                left: 0;
                width: 1500px;
                border-top: dashed 1px gray;
                transform: translateX(-50%);
            }
            &.left-rule {
                top: 0px;
                left: -1px;
                height: 1500px;
                border-left: dashed 1px gray;
                transform: translateY(-50%);
            }
            &.right-rule {
                top: 0;
                right: -1px;
                height: 1500px;
                border-right: dashed 1px gray;
                transform: translateY(-50%);
            }
        }
        .title {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            overflow: hidden;
            span {
                padding: 5px;
                background-color: rgba(238, 238, 238, 0.7);
                font-weight: bold;
            }
        }
        .content {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .ui-area {
        width: 100px;
        height: 50px;
        background-color: lightgray;
        border: dashed 2px gray;
        z-index: 9;
        .title {
            display: inline-block;
            padding: 5px;
        }
    }
    .ui-door {
        .content {
            display: flex;
            &.top {
                transform: rotate(180deg);
            }
            &.right {
                transform: rotate(-90deg);
            }
            &.bottom {
                transform: rotate(0);
            }
            &.left {
                transform: rotate(90deg);
            }
            .part {
                width: 50%;
                height: 100%;
                border: solid 1px gray;
                flex-grow: 1;
                border-bottom: none;
                &.left {
                    border-top-right-radius: 100%;
                    border-left: double 3px gray !important;
                }
                &.right {
                    border-top-left-radius: 100%;
                    border-right: double 3px gray !important;
                    margin-left: -1px;
                }
            }
            .barrier {
                $FSrrierSize: 5px;
                align-self: flex-end;
                border: solid 1px gray;
                min-width: 2 * $FSrrierSize;
                min-height: $FSrrierSize;
                max-width: 2 *$FSrrierSize;
                max-height: $FSrrierSize;
                border-left: none;
                position: relative;
                &.left {
                    margin-right: -1px;
                }
                &.right {
                    transform: rotate(-180deg);
                    margin-left: -1px;
                }
                .child {
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    width: $FSrrierSize;
                    height: $FSrrierSize;
                    border: solid 1px gray;
                    background-color: gray;
                }
            }
        }
    }
    .ui-table {
        background-image: url('../assets/food-staff/images/map-icon/table-icon.jpg');
    }
    .ui-wc {
        background-image: url('../assets/food-staff/images/map-icon/wc-icon.png');
    }
    .ui-bar {
        background-image: url('../assets/food-staff/images/map-icon/bar-icon.png');
    }
    .ui-stair {
        background-image: url('../assets/food-staff/images/map-icon/stair-icon.png');
    }
    .ui-kitchen {}
    .ui-receptionist {}
    .ui-restrict {
        z-index: 8;
        $step: 5px;
        background-image: repeating-linear-gradient(-45deg, map-get($map: $FSColors, $key: lightgray), map-get($map: $FSColors, $key: lightgray) $step, map-get($map: $FSColors, $key: gray) $step, map-get($map: $FSColors, $key: gray) $step*2);
    }
}