<ion-header>
    <fs-header [showBackButton]="2" [title]="'Danh sách bàn'"></fs-header>
    <div class="custom-toggle" (click)="onClickToggleView()" tappale>
        <span class="custom-toggle-left-button custom-toggle-button" [class.active]="viewMode == 0"> <i class="fa fa-list-ul" aria-hidden="true"></i></span>
        <span class="custom-toggle-right-button custom-toggle-button" [class.active]="viewMode == 1"> <i class="fa fa-map-o" aria-hidden="true"></i></span>
    </div>
    <div class="search-bar" *ngIf="viewMode == 0">
        <ion-searchbar class="searchbar-ios" [class.searchbar-md]="false" placeholder="{{placholder}}" [(ngModel)]="searchKeyword" (ionInput)="search()"></ion-searchbar>
    </div>

</ion-header>

<ion-content>
    <scroll-to-top></scroll-to-top>

    <div class="fs-content list-zone" *ngIf="viewMode == 0">
        <div class="segment-content">
            <div class="owner-zone">
                <ion-row class="item" *ngFor="let table of showUserTable">
                    <ion-col class="col-table">
                        <div class="content-block status-{{table.status}}">
                            <span class="order-number" *ngIf="table?.missingFoods">{{table?.missingFoods}}</span>
                            <ion-icon name="fs-table"></ion-icon>
                            <span class="table-number">{{table.name}}</span>
                        </div>
                    </ion-col>
                    <ion-col class="col-detail">
                        <div class="identify">
                            <ion-icon name="fs-order-number-o"></ion-icon>
                            <span>{{table.orderId}}</span>
                        </div>
                        <div class="guests">
                            <ion-icon name="fs-group-o"></ion-icon>
                            <span>{{table.currentPerson}} người</span>
                        </div>
                    </ion-col>
                    <ion-col class="col-action">
                        <div>
                            <button class="fs-button fs-button-outline" (click)="gotoOrderDetail(table.orderId)" tappable>Xem hóa đơn</button>
                        </div>
                        <div class="status" [ngClass]="{'fs-green': !table?.missingFoods, 'fs-blue': table?.missingFoods}">
                            <span *ngIf="!table?.missingFoods && table.status == 1"> Đã đủ món</span>
                            <span *ngIf="table?.missingFoods"> Đang chờ món</span>
                        </div>
                    </ion-col>
                </ion-row>

                <div class="fs-divider"></div>
            </div>
        </div>
        <div class="fs-segment">
            <ion-segment class="segment-md" [class.segment-ios]="false" [(ngModel)]="tableStatus" (ionChange)="filterTable()">
                <ion-segment-button value="{{status.id}}" *ngFor="let status of tableStatusData">
                    <!-- <span class="number status-{{status.id}}">{{tableCollection.get(status.id)?.length}}</span> -->
                    <span class="text"> {{status.shortName || status.name}} </span>
                </ion-segment-button>
            </ion-segment>
        </div>
        <div class="segment-content">
            <ion-row class="all-zone">
                <ion-col col-3 class="item status-{{table.status}}" *ngFor="let table of showTables" (click)="selectTable(table)">
                    <div class="content-block">
                        <ion-icon name="fs-table"></ion-icon>
                        <span class="table-number">{{table.name}}</span>
                    </div>
                </ion-col>
                <div *ngIf="showTables.length == 0" padding text-center>
                    Không có dữ liệu
                </div>
            </ion-row>
            <!-- <div class="all-zone">
                <div class="item status-{{table.status}}" *ngFor="let table of showTables" (click)="selectTable(table)">
                    <div class="content-block">
                        <ion-icon name="fs-table"></ion-icon>
                        <span class="table-number">{{table.name}}</span>
                    </div>
                </div>
                <div *ngIf="showTables.length == 0" padding text-center>
                    Không có dữ liệu
                </div>
            </div> -->
        </div>

    </div>
    <div class="map-zone" [hidden]="viewMode != 1">
        <div class="floor-menu">
            <div class="floor" [class.active]="map.id == selectedMap.id" (click)="selectMap(map)" tappable *ngFor="let map of maps">
                <!-- <ion-icon name="fs-stairs-o"></ion-icon> -->
                <ion-icon name="ios-map-outline"></ion-icon>
                <span>{{map.title}}</span>
            </div>
        </div>
        <div class="map-container" [style.width]="width+'px'" [style.height]="height+'px'" id="map-container">
            <div class="map" [style.width]="width+'px'" [style.height]="height+'px'" id="map">
                <div [ngClass]="component.classList" *ngFor="let component of selectedMap.components; let i = index" [attr.index]="i" [style.transform]="domSanitizer.bypassSecurityTrustStyle('translate(' + component.x + 'px,' + component.y + 'px) ' + 'rotateZ('+ component.rotate +'deg)')"
                    [style.webkitTransform]="domSanitizer.bypassSecurityTrustStyle('translate(' + component.x + 'px,' + component.y + 'px) ' + 'rotateZ('+ component.rotate +'deg)')" [attr.data-x]="component.x" [attr.data-y]="component.y" [style.width]="component.width + 'px'"
                    [style.height]="component.height + 'px'" [style.zIndex]="component.zIndex" (click)="selectComponent(component)" [class.selected]="selectedComponent && selectedComponent.id == component.id">
                    <div class="title">
                        <span> 
                            {{component.table ? component.table.name: component.title}}
                        </span>
                    </div>
                    <div class="icon">
                        <ion-icon name="{{component.icon}}" [style.font-size]="component.iconSize + 'px'"></ion-icon>
                    </div>
                    <div class="content" [innerHTML]="component.innerHtml"></div>
                    <div class="top-rule rule"></div>
                    <div class="left-rule rule"></div>
                    <div class="bottom-rule rule"></div>
                    <div class="right-rule rule"></div>
                </div>
            </div>
        </div>

    </div>
    <div #sizeHolder class="size-holder"></div>
</ion-content>