<ion-content class="ion-content">
    <div class="backdrop" #backdrop></div>
    <div class="main-content">
        <div class="order-header">
            <span class="title">Tạo Order</span>
            <div class="fs-divider-full"></div>
        </div>
        <div class="order-body">
            <form (ngSubmit)="createOrder()" [formGroup]="createOrderForm">
                <div class="fs-form">
                    <div class="input-div">
                        <span class="icon" (click)="showTableList()"> 
                            <ion-icon name="fs-table-3-o"></ion-icon>
                        </span>
                        <span class="text-input" (click)="showTableList()">{{order.tables.length > 0 ? order.tables.join(", ") : "Chọn bàn"}}</span>
                        <!-- <span class="button-map" (click)="showTableMap()"><i clpass="fa fa-map"></i></span> -->
                    </div>
                    <!-- <span *ngIf="!loginForm.controls.account.valid && isSubmitted" class="validate-message">{{accountErrorMessage}}</span> -->

                    <ion-row>
                        <ion-col col-6>
                            <div class="input-div" style="padding-right: 5px;">
                                <span class="icon">
                                  <ion-icon name="fs-time-o"></ion-icon>
                                </span>
                                <span class="text-input">{{this.order.timeCreate | date: 'hh:mm:ss'}}</span>
                            </div>
                        </ion-col>
                        <ion-col col-6>
                            <div class="input-div" style="padding-left: 5px;">
                                <span class="icon">
                                  <ion-icon name="fs-group-o"></ion-icon>
                                </span>
                                <span class="text-input number-input" tappable (click)="selectNumberPerson()">
                                    <fs-number-picker (numberChange)="updateNumberOfPerson($event)" [number]="numberOfPerson"></fs-number-picker>
                                </span>
                            </div>
                        </ion-col>
                    </ion-row>
                    <div class="input-div">
                        <span class="icon">
                          <ion-icon name="fs-individual-o"></ion-icon>
                        </span>
                        <ion-input type="text" [(ngModel)]="custormerName" formControlName="name" placeholder="Tên khách hàng"></ion-input>
                    </div>
                    <div class="input-div">
                        <span class="icon">
                          <ion-icon name="fs-phone-o"></ion-icon>
                        </span>
                        <ion-input type="tel" [(ngModel)]="custormerPhone" [maxlength]="11" formControlName="phone" placeholder="Số điện thoại"></ion-input>
                    </div>
                    <!-- <span *ngIf="!loginForm.controls.password.valid && isSubmitted" class="validate-message">{{passwordErrorMessage}}</span> -->
                </div>

            </form>
        </div>
        <div class="order-footer">
            <div class="fs-divider-full"></div>
            <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
            <div class="button-group">
                <button type="button" margin-right class="fs-button-outline" (click)="cancelOrder()" tappable>Hủy bỏ</button>
                <button type="submit" margin-left class="fs-button" (click)="createOrder()" tappable>Tạo order mới</button>
            </div>
        </div>
    </div>
    <div class="action-sheet" [class.show]="showingTableList">
        <div class="action-sheet-backdrop" (click)="hideTableList()" tappable></div>
        <div class="action-sheet-content" [class.full-height]="viewMode == 1">
            <div class="sheet-header">
                <span class="button-left fs-primary" (click)="hideTableList()" tappable>Xong</span>
                <!-- <span class="button-right">Xong</span> -->
                <div class="custom-toggle" (click)="onClickToggleView()" tappable>
                    <span class="custom-toggle-left-button custom-toggle-button" [class.active]="viewMode == 0"> <i class="fa fa-list-ul" aria-hidden="true"></i></span>
                    <span class="custom-toggle-right-button custom-toggle-button" [class.active]="viewMode == 1"> <i class="fa fa-map-o" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="sheet-body">
                <div class="floors" *ngIf="viewMode == 0">
                    <div class="floor" [class.active]="floor.id == selectedFloor.id" (click)="selectFloor(floor)" *ngFor="let floor of floors">{{floor.name}}</div>
                </div>
                <div class="floors" [hidden]="viewMode != 1">
                    <div class="floor" [class.active]="map.id == selectedMap.id" (click)="selectMap(map)" *ngFor="let map of maps">{{map.title}}</div>
                </div>
                <div class="table-list" [hidden]="viewMode != 0">
                    <div class="table status-{{table.status}}" (click)="selectTable(table)" [class.selected]="table.selected || table.selected == 'true'" *ngFor="let table of showTables">
                        <span class="table-name">{{table.name}}</span>
                        <ion-icon name="fs-table" class="table-icon"></ion-icon>
                    </div>
                </div>
                <div class="map-zone table-map" [hidden]="viewMode != 1">
                    <div class="map-container" [style.width]="width+'px'" [style.height]="height+'px'" id="map-container">
                        <div class="map" [style.width]="width+'px'" [style.height]="height+'px'" id="map">
                            <div [ngClass]="component.classList" [class.selected]="component.table && component.table.selected" *ngFor="let component of selectedMap.components; let i = index" [attr.index]="i" [style.transform]="domSanitizer.bypassSecurityTrustStyle('translate(' + component.x + 'px,' + component.y + 'px) ' + 'rotateZ('+ component.rotate +'deg)')"
                                [style.webkitTransform]="domSanitizer.bypassSecurityTrustStyle('translate(' + component.x + 'px,' + component.y + 'px) ' + 'rotateZ('+ component.rotate +'deg)')" [attr.data-x]="component.x" [attr.data-y]="component.y" [style.width]="component.width + 'px'"
                                [style.height]="component.height + 'px'" [style.zIndex]="component.zIndex" (click)="selectComponent(component)">
                                <div class="title">
                                    <span> 
                                        {{component.table ? component.table.name: component.title}}
                                    </span>
                                </div>
                                <div class="icon">
                                    <ion-icon name="{{component.icon}}" [style.font-size]="component.iconSize + 'px'"></ion-icon>
                                </div>
                                <div class="content" [innerHTML]="component.innerHtml"></div>
                                <div class="top-rule rule"></div>
                                <div class="left-rule rule"></div>
                                <div class="bottom-rule rule"></div>
                                <div class="right-rule rule"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="sheet-footer"></div>
        </div>
    </div>
    <div class="size-holder" #sizeHolder></div>
</ion-content>