<div class="fs-header" (click)="scrollToTop()">
    <div class="header-title">
        <span (click)="openMenu()" class="header-button button-left" menuToggle *ngIf="showBackButton == 2" tappale>
          <ion-icon name="ios-fs-menu-o"></ion-icon>
        </span>
        <span class="header-button button-left" navPop *ngIf="showBackButton == 1">
          <ion-icon name="{{backButton}}"></ion-icon>
        </span>
        <span class="title dc-big" (click)="scrollToTop()" tappale>
          {{title}}
        </span>
        <span *ngIf="showOrder" class="header-button button-right" (click)="checkOrder()" tappale>
           
        </span>
    </div>
    <div class="search-bar" *ngIf="showSearchBar">
        <ion-searchbar class="searchbar-ios" [class.searchbar-md]="false" placeholder="{{placholder}}" [(ngModel)]="searchKeyword" (ionInput)="search()"></ion-searchbar>
    </div>
</div>