<ion-menu [content]="content" swipeEnabled="false" class="dc-menu" type="reveal" width="100px">
    <div class="fs-menu">
        <div *ngIf="user" class="profile-item fs-shadow">
            <div class="avatar">
                <img src="{{user.avatar || 'https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png'}}" alt="avatar image">
            </div>
            <div class="name">{{user.name}}</div>
            <span class="button-edit" (click)="logout()">
                <ion-icon name="ios-power"></ion-icon>
            </span>
        </div>
        <div class="menu-item" [class.active]="item.active" *ngFor="let item of menuItems" (click)="gotoMenu(item)" tappable>
            <ion-icon name="{{item.icon}}"></ion-icon>
            <span class="text">
                {{item.name}}
            </span>
        </div>
    </div>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>