<ion-header>
    <fs-header [showBackButton]="2" [title]="'Order'"></fs-header>
    <div class="search-bar">
        <ion-searchbar class="searchbar-ios" [class.searchbar-md]="false" placeholder="{{placholder}}" [(ngModel)]="searchKeyword" (ionInput)="search()"></ion-searchbar>
    </div>
    <div class="fs-segment">
        <ion-segment class="segment-md" [class.segment-ios]="false" [(ngModel)]="selectedOrderStatus" (ionChange)="filterOrders()">
            <ion-segment-button value="{{status.id}}" *ngFor="let status of orderStatusData">
                <span class="number status-{{status.id}}">{{ orderCollection.get(status.id)?.length}}</span>
                <span class="text"> {{status.shortName || status.name}} </span>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content id="content1">
    <scroll-to-top></scroll-to-top>
    <div class="fs-content list-zone">

        <div class="segment-content">
            <div class="order-list">
                <div class="order-item" *ngFor="let order of showOrders">
                    <ion-row class="item-detail">
                        <ion-col col-2 class="col-table status-0">
                            <ion-icon name="fs-table"></ion-icon>
                            <span class="table-number">{{order.tables ? order.tables.join(" ") :  ""}}</span>
                        </ion-col>
                        <ion-col col-6 class="col-detail">
                            <div class="staff">
                                <ion-icon name="fs-service-o"></ion-icon>
                                <span class="staff-name">({{order.staffId}}) {{order.staffName}}</span>
                            </div>
                            <div class="detail">
                                <div class="person">
                                    <ion-icon name="fs-group-o"></ion-icon>
                                    <span>{{order.numberCustormer}} người</span>
                                </div>
                                <div class="time">
                                    <ion-icon name="fs-time-o"></ion-icon>
                                    <span>{{order.timeCreate | date: 'hh:mm:ss'}}</span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-4 class="col-price">
                            <span class="price">{{order.totalPrice | number}} đ</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="item-action">
                        <ion-col class="col-id">
                            <span>#{{order.id.substring(0,3).toUpperCase()}}</span>
                        </ion-col>
                        <ion-col col-10 class="col-button" *ngIf="selectedOrderStatus == '0'">
                            <button class="fs-button fs-button-outline-black" (click)="cancelOrder(order)">Hủy Order</button>
                            <button *ngIf="selectedOrderStatus == '0'" class="fs-button fs-button-outline" (click)="checkItem(order)">Kiểm đồ</button>
                            <button *ngIf="selectedOrderStatus == '0'" class="fs-button" (click)="gotoDetail(order)">Đặt món</button>
                        </ion-col>
                        <ion-col col-3 offset-7 *ngIf="selectedOrderStatus == '3'">
                            <button class="fs-button" (click)="respone(order)">Khôi phục</button>
                        </ion-col>
                    </ion-row>
                </div>

            </div>
        </div>
    </div>
    <div class="fab-button" ion-fixed (click)="addNewOrders()">
        <i class="fa fa-plus"></i>
    </div>
</ion-content>