menu-bar {
    .menu-container {
        white-space: nowrap;
        position: relative;
        overflow: auto;
        background: whitesmoke;
        .menu-item {
            display: inline-block;
            min-width: 20%;
            text-align: center;
            padding: 16px 8px;
            color: gray;
        }
        .menu-item-active {
            // border-bottom: 2px solid map-get($map: $FSColors, $key: primary);
            color: map-get($map: $FSColors, $key: primary);
        }
    }
     ::-webkit-scrollbar {
        display: none;
    }
    .animateBar {
        height: 2px;
        background: map-get($map: $FSColors, $key: primary);
        width: 100px;
        transition: 200ms;
    }
}