page-order-detail {
    $headerRowHeight: 45px;
    .a-back-button {
        color: white;
        width: auto;
        height: $headerRowHeight;
        line-height: $headerRowHeight;
        font-size: 1.8em;
        padding: 0 map-get($FSSizes, defaultPadding);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            vertical-align: text-bottom;
        }
        .icon {
            font-size: 1em;
        }
        &.button-left {
            left: 0;
        }
    }
    .fs-segment {
        background-color: map-get($map: $FSColors, $key: white);
        .segment-button {
            color: map-get($map: $FSColors, $key: black);
            border-bottom: solid 1px map-get($map: $FSColors, $key: lightgray);
            font-weight: bold;
            &.segment-activated,
            {
                color: map-get($map: $FSColors, $key: primary);
                border-bottom: solid 2px;
                font-weight: bold;
            }
            &.activated {
                border: none;
                color: map-get($map: $FSColors, $key: primary);
            }
        }
    }
    .detail-bar {
        display: flex;
        height: 2 * map-get($map: $FSSizes, $key: lineheight);
        width: 100%;
        overflow-x: auto;
        background-color: #303030;
        .detail-item {
            padding: 0 10px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: map-get($map: $FSColors, $key: white);
            white-space: nowrap;
            .icon {
                margin-right: 5px;
            }
        }
        .table {
            .icon {
                color: map-get($map: $FSColors, $key: yellow);
            }
            .table-name {
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 5px;
            }
            .floor {
                color: map-get($map: $FSColors, $key: gray);
            }
        }
        .edit {
            max-width: map-get($map: $FSSizes, $key: lineheight)*2;
            background-color: #4f4f4f;
        }
    }
    .choosen-list {
        .item {
            padding: 10px;
            .col-image {
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .col-detail {
                padding-left: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .name {
                    font-weight: 500;
                }
                .quantity {
                    .quantity-processing {
                        color: map-get($map: $FSColors, $key: red)
                    }
                    .quantity-done {
                        color: map-get($map: $FSColors, $key: blue);
                    }
                    .quantity-ordered {
                        color: map-get($map: $FSColors, $key: black);
                    }
                }
                .button-group {
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 5px;
                    .fs-button,
                    .fs-button-outline {
                        padding: 4px 8px;
                        white-space: nowrap;
                        margin: 3px;
                        font-size: .9em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .order-detail {
        padding: 10px 16px;
        background-color: map-get($map: $FSColors, $key: background);
        $rowHeight: map-get($map: $FSSizes, $key: lineheight) * 2;
        .row,
        .col {
            padding: 0;
            min-height: $rowHeight;
            display: flex;
            align-items: center;
        }
        .row-bonus {
            width: 100%;
            .food-name {
                color: map-get($map: $FSColors, $key: green);
                font-style: italic;
                font-weight: normal;
            }
        }
        .row-item {
            // padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 500;
            background-color: map-get($map: $FSColors, $key: white);
        }
        .stt {
            justify-content: center;
        }
        .number {
            justify-content: center;
            color: map-get($map: $FSColors, $key: gray);
        }
        .fs-price {
            justify-content: flex-end;
            padding-right: 5px;
        }
        .row-gift {
            .food-name {
                padding-left: 16px;
                .fs-blue {
                    padding-right: 5px;
                }
            }
        }
        .row-total {
            .title {
                padding-left: 16px;
            }
            .fs-price {
                color: map-get($map: $FSColors, $key: primary);
            }
            font-weight: bold;
            background-color: #f1dad2;
        }
    }
    $footerHeight: map-get($map: $FSSizes, $key: lineheight) * 3;
    .fs-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: map-get($map: $FSColors, $key: white);
        height: $footerHeight;
        .fs-button-outline {
            margin-right: 10px;
        }
    }
    .fab-button.high {
        bottom: $footerHeight;
        margin-bottom: 16px;
    }
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        height: 0 !important;
        background: none !important;
    }
    .footer-ios::before,
    .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
        height: 0 !important;
        background: none !important;
    }
}